<body>
    <form [formGroup]="authForm">
      <h1>Форма авторизации</h1>
      <mat-form-field>
        <mat-label>Введите логин</mat-label>
        <input
          matInput
          id="login"
          formControlName="login"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Введите пароль</mat-label>
        <input
          matInput
          type="password"
          id="password"
          formControlName="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="logIn()">
        Войти
      </button>
      <button mat-raised-button color="primary" (click)="registrate()">
        Зарегистрироваться
      </button>
    </form>
  </body>
  