.auth {
    display: flex;
    flex-direction: column;
  }
  body{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  button
  {
      width: 100%;
      margin: 2%;
  }
  form {
      padding: 2%;
      border: 2px solid lightgrey;
      border-radius: 20px;
  }