<header></header>
<body>
  <mat-form-field *ngIf="!checkAssemble()">
    <mat-label>Сценарий анимации</mat-label>
    <mat-select
      [(value)]="selected"
      (selectionChange)="valueChanged()"
      [disabled]="isDisabledSelect"
    >
      <mat-optgroup label="Анимации в один шаг">
        <mat-option
          *ngFor="let animation of animations"
          value="{{ animation.name }}"
          >{{ animation.name }}</mat-option
        >
      </mat-optgroup>
      <mat-optgroup label="Сложные анимации">
        <mat-option
          *ngFor="let complicatedAnimation of complicatedAnimations"
          value="{{ complicatedAnimation.name }}"
          >{{ complicatedAnimation.name }}</mat-option
        ></mat-optgroup
      >
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="startAnimation()"
      *ngIf="isSimpleAnimation"
    >
      Запустить анимацию
    </button>
    <ng-container *ngIf="isComplicatedAnimation">
      <button mat-raised-button color="primary" (click)="stepBack()"><<</button>
      <button
        mat-flat-button
        color="secondary"
        (click)="clearCurrentAnimation()"
      >
        Текущий шаг: {{ currentAnimation }}
      </button>
      <button mat-raised-button color="primary" (click)="stepForward()">
        >>
      </button>
    </ng-container>

    <ng-container *ngIf="checkAssemble()">
      <h1>Разборка:</h1>
      <button mat-raised-button color="primary" (click)="previousAnimation()">
        <<
      </button>
      <button
        mat-flat-button
        color="secondary"
        (click)="clearCurrentAnimation()"
      >
        Текущий шаг: {{ currentAnimation }}
      </button>
      <button mat-raised-button color="primary" (click)="nextAnimation()">
        >>
      </button>
    </ng-container>

    <button mat-raised-button color="primary" (click)="animateCamera()">
      Облет модели
    </button>
    <button mat-raised-button color="warn" (click)="blowUp()">Взорвать</button>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleText()"
      *ngIf="!visible"
    >
      Показать подсказку
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleText()"
      *ngIf="visible"
    >
      Спрятать подсказку
    </button>
  </div>
  <div>
    <mat-form-field class="tip" *ngIf="visible">
      <textarea
        name="tip"
        matInput
        cdkTextareaAutosize
        readonly
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"
      >
 {{ tip }}</textarea
      >
    </mat-form-field>
  </div>
  <mat-progress-spinner
    color="primary"
    [mode]="spinnerMode"
  ></mat-progress-spinner>
  <canvas #canvas></canvas>
</body>
