<header></header>
<body>
  <mat-form-field>
    <mat-label>Сценарий анимации</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let animation of animations" value="{{ animation.name }}">{{
        animation.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="startAnimation()">
      Запустить анимацию
    </button>
    <button mat-raised-button color="primary" (click)="test()">
      Облет модели
    </button>
    <button mat-raised-button color="warn" (click)="blowUp()">Взорвать</button>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleText()"
      *ngIf="!visible"
    >
      Показать подсказку
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleText()"
      *ngIf="visible"
    >
      Спрятать подсказку
    </button>
  </div>
  <div>
    <mat-form-field class="tip" *ngIf="visible">
      <textarea
        name="tip"
        matInput
        cdkTextareaAutosize
        readonly
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="8"
      >
 {{ tip }}</textarea
      >
    </mat-form-field>
  </div>
  <canvas #canvas></canvas>
</body>
