body {
  width: 90%;
  height: 80%;
}

canvas {
  width: 100%;
  height: 100%;
}
.tip {
  position: absolute;
  margin-top: 5%;
  margin-left: 75%;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
mat-expansion-panel {
  background-color: lightgrey;
}
.background {
  background-color: Gainsboro;
}
.icon {
  height: 50px;
}
.flex {
  width: 100%;
  display: flex;
}
