<body class="background">
  <div class="flex border-bottom">
    <div>
      <div class="text">
        <h1>DJI Mavic PRO</h1>
        <span
          >Данное приложение представляет собой интерактивную инструкцию для
          квадрокоптера DJI Mavic PRO. В ней вы сможете изучить квадрокоптер
          подробнее, узнать, как правильно ремонтировать и обслуживать
          устройство.
        </span>
      </div>
      <div class="text">
        <h2>Использование приложения</h2>
        <span
          >В данном приложении доступно изучение квадрокоптера посредством
          просмотра анимаций сборки и разборки квадрокоптера. Чтобы открыть
          выпадающее меню, содержащее элементы навигации, нужно нажать на
          соответствующую кнопку:
          <img src="/assets/dropdown.png" />
          <p>
            Для воспроизведения анимации необходимо открыть сцену. Для этого
            нужно нажать на одну из кнопок для запуска выбранного набора
            сценариев. Выберите один из наборов и нажмите на одну из кнопок:
          </p>
          <p>
            <img src="/assets/buttons.png" style="height: 30px" />
          </p>
        </span>
      </div>
    </div>
    <img class="mavic" src="/assets/dji.png" />
  </div>
  <div class="center border-bottom"><h1>Характеристики</h1></div>
  <div class="flex">
    <div class="tables background">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Летательный аппарат
        </mat-expansion-panel-header>
        <table class="table-specs">
          <tbody>
            <tr>
              <th>В сложенном виде (ВхШхД)</th>
              <td>83 мм х 83 мм х 198 мм</td>
            </tr>
            <tr>
              <th>Размер по диагонали (без пропеллеров)</th>
              <td>335 мм</td>
            </tr>
            <tr>
              <th>Масса (с аккумулятором и пропеллерами)</th>
              <td>
                734 г (без крышки стабилизатора) <br />743 г (с крышкой
                стабилизатора)
              </td>
            </tr>
            <tr>
              <th>Макс. скорость набора высоты</th>
              <td>5 м/с (В спортивном режиме)</td>
            </tr>
            <tr>
              <th>Макс. скорость снижения</th>
              <td>3 м/с</td>
            </tr>
            <tr>
              <th>Макс. скорость</th>
              <td>65 км/ч (В cпортивном режиме, без ветра)</td>
            </tr>
            <tr>
              <th>Макс. высота полета над уровнем моря</th>
              <td>5000 м</td>
            </tr>
            <tr>
              <th>Макс. время полета</th>
              <td>27 минут (без ветра, при скорости 25 км/ч)</td>
            </tr>
            <tr>
              <th>Макс. время зависания</th>
              <td>24 минут (без ветра)</td>
            </tr>
            <tr>
              <th>Общее время полета</th>
              <td>
                21 минут (нормальные условия полета, посадка при 15% заряде)
              </td>
            </tr>
            <tr>
              <th>Макс. дальность полета</th>
              <td>13 км (без ветра)</td>
            </tr>
            <tr>
              <th>Диапазон рабочих температур</th>
              <td>0°...+40° C</td>
            </tr>
            <tr>
              <th>Спутниковые системы позиционирования</th>
              <td>GPS / ГЛОНАСС</td>
            </tr>
            <tr>
              <th>Точность позиционирования</th>
              <td>
                В вертикальной плоскости: <br />+/- 0,1 м (при включенной
                системе визуального позиционирования) или +/-0,5 м<br />В
                горизонтальной плоскости: <br />+/- 0,3 м (при включенной
                системе визуального позиционирования) или +/-1,5 м
              </td>
            </tr>
            <tr>
              <th>Диапазон рабочих частот</th>
              <td>
                FCC: <br />2,4-2,4835 ГГц;<br />CE: <br />2,4-2,4835 ГГц<br />SRRC：<br />2,4-2,4835
                ГГц
              </td>
            </tr>
            <tr>
              <th>Мощность передатчика (ЭИИМ)</th>
              <td>2,4 ГГц <br />FCC:≤26 дБм; CE: ≤20 дБм; SRRC≤20 дБм<br /></td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Пульт дистанционного управления
        </mat-expansion-panel-header>
        <table class="table-specs">
          <tbody>
            <tr>
              <th>Диапазон рабочих частот</th>
              <td>2,400-2,483 ГГц</td>
            </tr>
            <tr>
              <th>Дальность передачи сигнала</th>
              <td>
                FCC: 7 км;&nbsp;<br />CE: 4 км <br />SRRC: 4 км (на открытом
                пространстве без помех)
              </td>
            </tr>
            <tr>
              <th>Диапазон рабочих температур</th>
              <td>0°...+40° C</td>
            </tr>
            <tr>
              <th>Аккумулятор</th>
              <td>2970 мАч</td>
            </tr>
            <tr>
              <th>Мощность передатчика (ЭИИМ)</th>
              <td>FCC：≤26 дБм <br />CE：≤20 дБм<br />SRRC: ≤20 дБм</td>
            </tr>
            <tr>
              <th>Рабочий ток</th>
              <td>950 мА при напряжении 3,7 В</td>
            </tr>
            <tr>
              <th>Размер совместимого мобильного устройства</th>
              <td>
                Толщина: 6,5 - 8,5 мм <br />Макс. длина: 160 мм
                <br />USB-разъемы: Lightning, Micro USB(B), USB(C)™
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Стабилизатор </mat-expansion-panel-header>
        <table class="table-specs">
          <tbody>
            <tr>
              <th>Рабочий диапазон углов вращения</th>
              <td>
                Наклон: -90°...+30° <br />Крен: 0°...90° (Горизонтально или
                вертикально)
              </td>
            </tr>
            <tr>
              <th>Стабилизация</th>
              <td>По 3 осям (поперечная, продольная и вертикальная)</td>
            </tr>
          </tbody>
        </table>
        <h2>Система обзора</h2>
        <table class="table-specs">
          <tbody>
            <tr>
              <th>Компоненты системы обзора</th>
              <td>Фронтальная система обзора<br />Нижняя система обзора</td>
            </tr>
            <tr>
              <th>Диапазон обнаружения препятствий</th>
              <td>
                Диапазон точного измерения: 0,7 - 15 м <br />Общий диапазон: 15
                - 30 м
              </td>
            </tr>
            <tr>
              <th>Условия функционирования</th>
              <td>
                Поверхность с видимой текстурой, уровень освещенности &gt; 15 лк
              </td>
            </tr>
            <tr>
              <th>Макс. скорость</th>
              <td>≤ 36 км/ч в 2 м над поверхностью</td>
            </tr>
            <tr>
              <th>Диапазон высот</th>
              <td>0,3 - 13 м</td>
            </tr>
            <tr>
              <th>Рабочий диапазон</th>
              <td>0,3 - 13 м</td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Wi-Fi</mat-expansion-panel-header>
        <table class="table-specs">
          <tbody>
            <tr>
              <th>Рабочая частота</th>
              <td>2,4 Гбайт</td>
            </tr>
            <tr>
              <th>Дальность передачи сигнала</th>
              <td>
                80 м (В длину), 50 м (В высоту) (на открытом пространстве, без
                помех)
              </td>
            </tr>
            <tr>
              <th>Макс. скорость</th>
              <td>14 км/ч</td>
            </tr>
            <tr>
              <th>Макс. скорость набора высоты</th>
              <td>2 м/с</td>
            </tr>
            <tr>
              <th>Макс. скорость снижения</th>
              <td>1 м/с</td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </div>
    <div class="tables background">
      <div class="col-md-6 col-xs-12">
        <mat-expansion-panel>
          <mat-expansion-panel-header> Камера </mat-expansion-panel-header>
          <table class="table-specs">
            <tbody>
              <tr>
                <th>Матрица</th>
                <td>
                  1/2,3” CMOS, число эффективных пикселей:12,35 Мп (Общее число
                  пикселей: 12,71 Мп)
                </td>
              </tr>
              <tr>
                <th>Объектив</th>
                <td>
                  FOV 78,8° 26 мм (эквивалент формата 35 мм) f/2.2
                  <br />Искажение &lt; 1.5% фокус от 0,5 м до ∞
                </td>
              </tr>
              <tr>
                <th>Диапазон ISO</th>
                <td>100-3200 (видео)<br />100-1600 (фото)</td>
              </tr>
              <tr>
                <th>Скорость электронного затвора</th>
                <td>8-1/8000 с</td>
              </tr>
              <tr>
                <th>Макс. размер изображения</th>
                <td>4000×3000</td>
              </tr>
              <tr>
                <th>Режимы фотосъемки</th>
                <td>
                  Покадровая <br />Серийная: 3 / 5 / 7 кадров<br />Автоматическая
                  экспокоррекция (AEB): 0.7EV с шагом 3/5 ступени<br />Автоспуск
                </td>
              </tr>
              <tr>
                <th>Режимы видеосъемки</th>
                <td>
                  C4K: 4096×2160 24p <br />4K: 3840×2160 24/25/30p <br />2.7K:
                  2704×1520 24/25/30p <br />FHD: 1920×1080 24/25/30/48/50/60/96p
                  <br />HD: 1280×720 24/25/30/48/50/60/120p
                </td>
              </tr>
              <tr>
                <th>Макс. битрейт видео</th>
                <td>60 Мбит/с</td>
              </tr>
              <tr>
                <th>Поддерживаемые файловые системы</th>
                <td>FAT32 (≤ 32 Гбайт) или exFAT (&gt; 32 Гбайт)</td>
              </tr>
              <tr>
                <th>Фото</th>
                <td>JPEG, DNG</td>
              </tr>
              <tr>
                <th>Видео</th>
                <td>MP4, MOV (MPEG-4 AVC/H.264)</td>
              </tr>
              <tr>
                <th>Типы карт памяти</th>
                <td>
                  microSD™ <br />Макс. объем: 128 Гбайт. Класс скорости: Class
                  10, UHS-1
                </td>
              </tr>
              <tr>
                <th>Диапазон рабочих температур</th>
                <td>0°...+40° C</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            >Зарядное устройство</mat-expansion-panel-header
          >
          <table class="table-specs">
            <tbody>
              <tr>
                <th>Напряжение</th>
                <td>13,05 В</td>
              </tr>
              <tr>
                <th>Номинальная мощность</th>
                <td>50 Вт</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            >Аккумулятор Intelligent Flight Battery</mat-expansion-panel-header
          >
          <table class="table-specs">
            <tbody>
              <tr>
                <th>Емкость</th>
                <td>3830 мАч</td>
              </tr>
              <tr>
                <th>Напряжение</th>
                <td>11,4 В</td>
              </tr>
              <tr>
                <th>Тип</th>
                <td>Литий-полимерный 3S</td>
              </tr>
              <tr>
                <th>Энергия</th>
                <td>43,6 Вт.ч</td>
              </tr>
              <tr>
                <th>Масса</th>
                <td>Около 240 г</td>
              </tr>
              <tr>
                <th>Диапазон рабочих температур</th>
                <td>+5°...+40° C</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header
            >Приложение/Трансляция в реальном
            времени</mat-expansion-panel-header
          >
          <table class="table-specs">
            <tbody>
              <tr>
                <th>Мобильное приложение</th>
                <td>DJI GO 4</td>
              </tr>
              <tr>
                <th>Качество трансляции</th>
                <td>
                  720p, 30 кадров/с, 1080p, 30 кадров/с (пульт управления)
                  <br />720p, 30 кадров/с (Wi-Fi) <br />720p, 60 кадров/с,
                  1080p, 30 кадров/с (шлем DJI Goggles)
                </td>
              </tr>
              <tr>
                <th>Задержка сигнала</th>
                <td>
                  160-170 мс (зависит от условий на месте и вашего мобильного
                  устройства)
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</body>
