.background {
  background-color: Gainsboro;
}
.flex {
  width: 100%;
  display: flex;
}
.mavic {
  width: 60vw;
  height: 30vw;
}
.text {
  margin: 2%;
  padding: 1%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.tables {
  width: 50%;
}
.table-specs {
  width: 100%;
}
tr {
  width: 100%;
}
th {
  width: 50%;
}
th {
  width: 50%;
}
.center {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.border-bottom {
  border-bottom: 2px solid lightgrey;
}
mat-expansion-panel-header {
  align-items: center;
  justify-content: center;
  font-size: large;
}
mat-expansion-panel {
  background-color: Gainsboro;
}
