<body>
  <h1>Тестирование на предмет освоения инструкции</h1>
  <p *ngIf="prevCorrectAnswersNumber">
    Количество правильных ответов в предыдущей попытке: 
    {{ prevCorrectAnswersNumber }}
  </p>
  <div class="tests">
    <h2>Вопросы без картинок</h2>
    <div *ngFor="let test of tests">
      <div class="test" *ngIf="!test.img && test.answers">
        <mat-radio-group [(ngModel)]="answers[test.index!]">
          <mat-label>{{ test.question }}</mat-label>
          <div class="answers">
            <mat-radio-button
              [value]="answer"
              *ngFor="let answer of test.answers"
              >{{ answer }}</mat-radio-button
            >
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="tests">
    <h2>Вопросы с картинками</h2>
    <div *ngFor="let test of tests">
      <div class="test" *ngIf="test.img && test.answers">
        <img *ngIf="test.img" [src]="test.img" />
        <mat-radio-group [(ngModel)]="answers[test.index!]">
          <mat-label>{{ test.question }}</mat-label>
          <div class="answers">
            <mat-radio-button
              [value]="answer"
              *ngFor="let answer of test.answers"
              >{{ answer }}</mat-radio-button
            >
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="tests">
    <h2>Открытые вопросы</h2>
    <div *ngFor="let test of tests">
      <div class="test" *ngIf="!test.answers">
        <label class="text-label">{{ test.question }}</label>
        <mat-form-field class="text">
          <textarea
            [(ngModel)]="answers[test.index!]"
            name="tip"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="8"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="checkAnswers()">
      Сохранить ответы
    </button>
    <button mat-raised-button color="warn" (click)="clearAnswers()">
      Сбросить ответы
    </button>
  </div>
</body>
